@model RegisterViewModel
@{
  Layout = "_CleanLayout";
  ViewData["Title"] = "Create Account";
}

<div class="center-screen">
  <div class="surface">
    <form class="grid" method="post" asp-controller="Auth" asp-action="HandleRegister" novalidate>

      @Html.AntiForgeryToken()

      <h1 class="title flex">
        @ViewData["Title"]
      </h1>

      <button class="btn btn-white">
        <img src="~/images/google-icon.svg" alt="Google Icon">
        Sign Up with Google
      </button>

      <div class="or-divider flex">
        <div class="flex">
          <span>OR</span>
        </div>
      </div>

      <label asp-for="FullName" class="input-label"></label>
      <input asp-for="FullName" value="@Model.FullName" type="text">
      <span asp-validation-for="FullName"></span>

      <label asp-for="Email" class="input-label"></label>
      <input asp-for="Email" value="@Model.Email" type="email">
      <span asp-validation-for="Email"></span>

      <label asp-for="Password" class="input-label"></label>
      <div class="password-input">
        <input asp-for="Password" type="password">
        <button type="button" class="btn flex" onclick="togglePassword(this)">
          <i class="fa-duotone fa-solid fa-eye flex show-icon hidden"></i>
          <i class="fa-duotone fa-solid fa-eye-low-vision flex hide-icon"></i>
        </button>
      </div>
      <span asp-validation-for="Password"></span>

      <label asp-for="ConfirmPassword" class="input-label"></label>
      <div class="password-input">
        <input asp-for="ConfirmPassword" type="password">
        <button type="button" class="btn flex" onclick="togglePassword(this)">
          <i class="fa-duotone fa-solid fa-eye flex show-icon hidden"></i>
          <i class="fa-duotone fa-solid fa-eye-low-vision flex hide-icon"></i>
        </button>
      </div>
      <span asp-validation-for="ConfirmPassword"></span>

      <div class="terms-and-conditions flex">
        <label asp-for="TOS" class="flex">
          <input asp-for="TOS" type="checkbox" />
          <i class="fa-solid fa-check checkmark"></i>
          <span>I accept the <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Terms and Conditions</a></span>
        </label>
      </div>
      <span asp-validation-for="TOS" class="validation-error"></span>

      <button class="btn btn-blue" type="submit">Create Account</button>

      @if (ViewBag.ErrorMessage != null)
      {
        <div class="validation-summary-errors">
          <span class="field-validation-error">@ViewBag.ErrorMessage</span>
        </div>
      }

      <div class="sign-up flex">
        <label>Already have an account?</label>
        <a asp-controller="Auth" asp-action="Login">Sign In</a>
      </div>

    </form>
  </div>
</div>