@model AddProjectViewModel

<div id="add-overlay" class="overlay hidden">
  <div class="surface">
    <form class="project-form grid" method="post" asp-controller="Projects" asp-action="Add" enctype="multipart/form-data" novalidate>

      @Html.AntiForgeryToken()

      <div class="title flex">
        <h2>Add Project</h2>
        <button class="btn" type="button" onclick="closeOverlay('add-overlay', '/projects')">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <button type="button" class="image-upload btn">
        <img src="~/images/upload-icon-border.svg" alt="Border" class="image-upload-border">
        <img src="~/images/upload-icon.svg" alt="Upload Icon" class="image-upload-icon">
      </button>

      <div class="grid">
        <label asp-for="ProjectName" class="input-label"></label>
        <input asp-for="ProjectName" value="@Model.ProjectName">
        <span asp-validation-for="ProjectName"></span>
      </div>

      <div class="grid">
        <label asp-for="ClientId" class="input-label"></label>
        <input asp-for="ClientId" value="@Model.ClientId">
        <span asp-validation-for="ClientId"></span>
      </div>

      <div class="grid">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" value="@Model.ClientId"></textarea>
        <span asp-validation-for="Description"></span>
      </div>

      <div class="flex">
        <div class="grid">
          <label asp-for="StartDate" class="input-label"></label>
          <div class="input-container" onclick="openPicker(this.querySelector('input'))">
            <input asp-for="StartDate" value="@Model.StartDate" min="2000-01-01" max="2050-12-31">
            <img src="~/images/calendar-icon.svg" alt="Calendar Icon" class="invert-when-dark">
          </div>
          <span asp-validation-for="StartDate"></span>
        </div>
        
        <div class="grid">
          <label asp-for="EndDate" class="input-label"></label>
          <div class="input-container" onclick="openPicker(this.querySelector('input'))">
            <input asp-for="EndDate" value="@Model.EndDate" min="2000-01-01" max="2050-12-31">
            <img src="~/images/calendar-icon.svg" alt="Calendar Icon" class="invert-when-dark">
          </div>
          <span asp-validation-for="EndDate"></span>
        </div>
      </div>

      <label asp-for="UserId" class="input-label"></label>
      <div class="input-container">
        <input asp-for="UserId" value="@Model.UserId">
        <img src="~/images/search-icon.svg" alt="Search Icon" class="invert-when-dark">
        <div class="member-wrapper">
          <div class="member">
            <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
            <span>Hans Mattin-Lassei</span>
            <button class="btn"><i class="fa-regular fa-xmark"></i></button>
          </div>
          <div class="member">
            <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
            <span>Hans Mattin-Lassei</span>
            <button class="btn"><i class="fa-regular fa-xmark"></i></button>
          </div>
        </div>
        <span asp-validation-for="UserId"></span>
      </div>

      <div class="grid">
        <label asp-for="StatusId" class="input-label"></label>
        <input asp-for="StatusId" value="@Model.StatusId">
        <span asp-validation-for="StatusId"></span>
      </div>

      <label asp-for="Budget" class="input-label"></label>
      <div class="input-container-budget">
        <input asp-for="Budget" value="@Model.Budget">
        <img src="~/images/dollar-icon.svg" alt="Dollar Icon" class="invert-when-dark">
      </div>
      <span asp-validation-for="Budget"></span>

      <button type="submit" class="btn btn-blue">Create</button>

    </form>
  </div>
</div>