@model AddMemberViewModel

<div id="add-overlay" class="overlay hidden">
  <div class="surface">
    <form class="member-form grid" method="post" asp-controller="Admin" asp-action="Add" novalidate>

      @Html.AntiForgeryToken()

      <div class="title flex">
        <h2>Add Member</h2>
        <button class="btn" type="button" onclick="closeOverlay('add-overlay', '/admin/members')">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <button type="button" class="image-upload btn">
        <img src="~/images/upload-icon-border-round.svg" alt="Border" class="image-upload-border">
        <img src="~/images/upload-icon.svg" alt="Upload Icon" class="image-upload-icon">
      </button>

      <div class="flex">
        <div class="grid">
          <label asp-for="FirstName" class="input-label"></label>
          <input asp-for="FirstName" value="@Model.FirstName">
          <span asp-validation-for="FirstName"></span>
        </div>
        
        <div class="grid">
          <label asp-for="LastName" class="input-label"></label>
          <input asp-for="LastName" value="@Model.LastName">
          <span asp-validation-for="LastName"></span>
        </div>
      </div>

      <div class="grid">
        <label asp-for="Email" class="input-label"></label>
        <input asp-for="Email" value="@Model.Email">
        <span asp-validation-for="Email"></span>
      </div>

      <div class="grid">
        <label asp-for="PhoneNumber" class="input-label"></label>
        <input asp-for="PhoneNumber" value="@Model.PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
      </div>

      <div class="grid">
        <label asp-for="JobTitle" class="input-label"></label>
        <input asp-for="JobTitle" value="@Model.JobTitle">
        <span asp-validation-for="JobTitle"></span>
      </div>

      <div class="grid">
        <label asp-for="Address" class="input-label"></label>
        <input asp-for="Address" value="@Model.Address">
        <span asp-validation-for="Address"></span>
      </div>

      <label class="input-label">Date of Birth</label>
      <div class="dob-inputs flex">
        <input asp-for="BirthDay">
        <input asp-for="BirthMonth">
        <input asp-for="BirthYear">
      </div>
      <span asp-validation-for="BirthDay"></span>
      <span asp-validation-for="BirthMonth"></span>
      <span asp-validation-for="BirthYear"></span>        

      <button type="submit" class="btn btn-blue">Add</button>

    </form>
  </div>
</div>