@model EditMemberViewModel

<div id="edit-overlay" class="overlay hidden">
  <div class="surface">
    <form class="member-form grid" method="post" action="/admin/members/edit" enctype="multipart/form-data" novalidate>

      @Html.AntiForgeryToken()

      <div class="title flex">
        <h2>Edit Member</h2>
        <button class="btn" type="button" onclick="closeOverlay('edit-overlay', '/admin/members')">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <input type="hidden" asp-for="Id" />

      <div class="upload-wrapper">
        <button type="button" class="image-upload btn" onclick="triggerUpload(this)">
            @{
              var resolvedImage = Url.Content(!string.IsNullOrWhiteSpace(Model?.Image)
                ? Model.Image
                : "/images/profile-picture-placeholder.svg");
            }
          <img src="@resolvedImage" alt="Upload Preview" class="image-upload-border" id="upload-preview-edit" data-original="/images/profile-picture-placeholder.svg">
          <img src="~/images/edit-icon-gradient.svg" alt="Edit Icon" class="edit-icon">
        </button>
        <input id="imageFileInputEdit" name="ImageFile" type="file" accept="image/*" style="display:none" data-preview-id="upload-preview-edit" onchange="previewImage(event)">
      </div>

      <div class="flex">
        <div class="grid">
          <label asp-for="FirstName" class="input-label"></label>
          <input asp-for="FirstName" value="@Model.FirstName">
          <span asp-validation-for="FirstName"></span>
        </div>
        
        <div class="grid">
          <label asp-for="LastName" class="input-label"></label>
          <input asp-for="LastName" value="@Model.LastName">
          <span asp-validation-for="LastName"></span>
        </div>
      </div>

      <div class="grid">
        <label asp-for="Email" class="input-label"></label>
        <input asp-for="Email" value="@Model.Email">
        <span asp-validation-for="Email"></span>
      </div>

      <div class="grid">
        <label asp-for="PhoneNumber" class="input-label"></label>
        <input asp-for="PhoneNumber" value="@Model.PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
      </div>

      <div class="grid">
        <label asp-for="JobTitle" class="input-label"></label>
        <input asp-for="JobTitle" value="@Model.JobTitle">
        <span asp-validation-for="JobTitle"></span>
      </div>

      <div class="grid">
        <label asp-for="Address" class="input-label"></label>
        <input asp-for="Address" value="@Model.Address">
        <span asp-validation-for="Address"></span>
      </div>

      <label class="input-label">Date of Birth</label>
      <div class="dob-inputs flex">
        <input asp-for="BirthDay" value="@Model.BirthDay">
        <input asp-for="BirthMonth" value="@Model.BirthMonth">
        <input asp-for="BirthYear" value="@Model.BirthYear">
      </div>
      <span asp-validation-for="BirthDay"></span>
      <span asp-validation-for="BirthMonth"></span>
      <span asp-validation-for="BirthYear"></span>        

      <button type="submit" class="btn btn-blue">Save</button>

    </form>
  </div>
</div>