@model EditProjectViewModel

<div id="edit-overlay" class="overlay hidden">
  <div class="surface">
    <form class="project-form grid" method="post" action="/projects/edit" enctype="multipart/form-data" novalidate>

      @Html.AntiForgeryToken()

      <div class="title flex">
        <h2>Edit Project</h2>
        <button class="btn" type="button" onclick="resetBasePath()">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <input type="hidden" asp-for="Id">

      <div class="upload-wrapper">
        <button type="button" class="image-upload btn" onclick="triggerUpload(this)">
          @{
            var imagePreviewPath = !string.IsNullOrWhiteSpace(Model.Image)
              ? Url.Content(Model.Image)
              : Url.Content("~/images/project-image-placeholder.svg");
          }
          <img src="@imagePreviewPath" alt="Upload Preview" class="image-upload-border" id="upload-preview-add" data-original="/images/project-image-placeholder.svg">
          <img src="~/images/edit-icon-gradient.svg" alt="Upload Icon" class="edit-icon">
        </button>
        <input id="imageFileInputAdd" class="hidden" name="ImageFile" type="file" accept="image/*" data-preview-id="upload-preview-add" onchange="previewImage(event)">
        <input type="hidden" name="Image" id="Image" value="@Model.Image">
      </div>

      <div class="grid">
        <label asp-for="ProjectName" class="input-label"></label>
        <input asp-for="ProjectName" value="@Model.ProjectName">
        <span asp-validation-for="ProjectName"></span>
      </div>

      <div class="grid">
        <label asp-for="ClientId" class="input-label"></label>
        <div class="select-wrapper">
          <select asp-for="ClientId" asp-items="@Model.Clients" class="dropdown-select">
            <option value="" disabled selected hidden>Select client</option>
          </select>
          <i class="fa-regular fa-angle-down dropdown-icon"></i>
        </div>
        <span asp-validation-for="ClientId"></span>
      </div>

      <div class="grid">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" value="@Model.ClientId"></textarea>
        <span asp-validation-for="Description"></span>
      </div>

      <div class="flex">
        <div class="grid">
          <label asp-for="StartDate" class="input-label"></label>
          <div class="input-container" onclick="openPicker(this.querySelector('input'))">
            <input asp-for="StartDate" type="date" min="2000-01-01" max="2050-12-31">
            <img src="~/images/calendar-icon.svg" alt="Calendar Icon" class="invert-when-dark">
          </div>
          <span asp-validation-for="StartDate"></span>
        </div>
        
        <div class="grid">
          <label asp-for="EndDate" class="input-label"></label>
          <div class="input-container" onclick="openPicker(this.querySelector('input'))">
            <input asp-for="EndDate" type="date" min="2000-01-01" max="2050-12-31">
            <img src="~/images/calendar-icon.svg" alt="Calendar Icon" class="invert-when-dark">
          </div>
          <span asp-validation-for="EndDate"></span>
        </div>
      </div>

      <label class="input-label">Members</label>
      <div class="member-select-container">
        <input type="hidden" id="SelectedUserIds" name="SelectedUserIds" value="@Model.SelectedUserIds">
        <div class="select-wrapper">
          <select id="UserDropdown" class="dropdown-select" onchange="handleUserSelection()">
            <option value="" disabled selected hidden>Select members</option>
            @foreach (var user in Model.Users)
            {
              <option value="@user.Id" data-name="@($"{user.FirstName} {user.LastName}")" data-image="@user.Image">
                @user.FirstName @user.LastName
              </option>
            }
          </select>
          <div id="SelectedUsers" class="member-wrapper"></div>
          <i class="fa-regular fa-angle-down dropdown-icon"></i>
        </div>
        <span asp-validation-for="SelectedUserIds"></span>
      </div>

      <div class="grid">
        <label asp-for="StatusId" class="input-label"></label>
        <div class="select-wrapper">
          <select asp-for="StatusId" asp-items="@Model.Statuses" id="status-id" class="dropdown-select">
            <option value="0" disabled selected hidden>Select status</option>
          </select>
          <i class="fa-regular fa-angle-down dropdown-icon"></i>
        </div>
        <input type="hidden" id="show-add-form" value="@ViewData["ShowAddForm"]">
        <input type="hidden" id="status-id-value" value="@Model.StatusId">
        <span id="status-validation-error" class="field-validation-error hidden">You must select a status.</span>
      </div>

      <label asp-for="Budget" class="input-label"></label>
      <div class="input-container-budget">
        <input asp-for="Budget" value="@Model.Budget">
        <img src="~/images/dollar-icon.svg" alt="Dollar Icon" class="invert-when-dark">
      </div>
      <span asp-validation-for="Budget"></span>

      <button type="submit" class="btn btn-blue">Save</button>

    </form>
  </div>
</div>