@model EditClientViewModel

<div id="edit-overlay" class="overlay hidden">
  <div class="surface">
    <form class="member-form grid" method="post" action="/admin/clients/edit" enctype="multipart/form-data" novalidate>

      @Html.AntiForgeryToken()

      <div class="title flex">
        <h2>Edit Client</h2>
        <button class="btn" type="button" onclick="resetBasePath()">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <input type="hidden" asp-for="Id">

      <div class="upload-wrapper">
        <button type="button" class="image-upload btn" onclick="triggerUpload(this)">
          @{
            var imagePreviewPath = !string.IsNullOrWhiteSpace(Model.Image)
              ? Url.Content(Model.Image)
              : Url.Content("~/images/profile-picture-placeholder.svg");
          }
          <img src="@imagePreviewPath" alt="Upload Preview" class="image-upload-border" id="upload-preview-add" data-original="/images/profile-picture-placeholder.svg">
          <img src="~/images/edit-icon-gradient.svg" alt="Upload Icon" class="edit-icon">
        </button>
        <input id="imageFileInputAdd" class="hidden" name="ImageFile" type="file" accept="image/*" data-preview-id="upload-preview-add" onchange="previewImage(event)">
        <input type="hidden" name="Image" id="Image" value="@Model.Image">
      </div>

      <div class="grid">
        <label asp-for="ClientName" class="input-label"></label>
        <input asp-for="ClientName" value="@Model.ClientName">
        <span asp-validation-for="ClientName"></span>
      </div>

      <div class="grid">
        <label asp-for="Email" class="input-label"></label>
        <input asp-for="Email" value="@Model.Email">
        <span asp-validation-for="Email"></span>
      </div>

      <div class="grid">
        <label asp-for="PhoneNumber" class="input-label"></label>
        <input asp-for="PhoneNumber" value="@Model.PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
      </div>

      <button type="submit" class="btn btn-blue">Save</button>

    </form>
  </div>
</div>