@model Domain.Models.User

<div class="member-card">
  <div class="card-div flex">
    <button class="btn" data-toggle="card-menu-@Model?.Id">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
    </button>
  </div>

  @{
    var resolvedImage = Url.Content(!string.IsNullOrWhiteSpace(Model?.Image)
      ? Model.Image
      : "/images/profile-picture-placeholder.svg");
  }
  <img src="@resolvedImage" alt="Profile Picture" class="profile-picture">

  <div class="card-title">
    <div class="flex">
      <h2>@($"{Model?.FirstName ?? "No Name"} {Model?.LastName ?? ""}")</h2>
    </div>
    <div class="flex">
      <span>@(Model?.JobTitle ?? "No Job Title")</span>
    </div>
  </div>

  <div class="contact-info flex">
    <span class="email">@(Model?.Email ?? "No Email")</span>
    <span class="phone">@(Model?.PhoneNumber ?? "No Phone Number")</span>
  </div>

  <button class="btn btn-white">Message</button>

  @await Html.PartialAsync("Partials/Components/_MemberCardMenu", Model)
</div>