@model Domain.Models.Project

<div class="member-card">
  <div class="card-div flex">
    <button class="btn" data-toggle="card-menu">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
    </button>
  </div>

  <img src="@Model.Image" alt="Profile Picture">

  <div class="card-title">
    <div class="flex">
      <h2>@Model.FirstName @Model.LastName</h2>
    </div>
    <div class="flex">
      <span>@Model.JobTitle</span>
    </div>
  </div>

  <div class="contact-info flex">
    <span class="email">@Model.Email</span>
    <span class="phone">@Model.PhoneNumber ?? "[No Phone Number]"</span>
  </div>

  <button class="btn btn-white">Message</button>
  
  @await Html.PartialAsync("Partials/Components/_MemberCardMenu")
</div>