@model Domain.Models.Project

<div class="project-card">
  <div class="card-div flex">

    @{
      var resolvedImage = Url.Content(!string.IsNullOrWhiteSpace(Model?.Image)
        ? Model.Image
        : "/images/alpha-logotype.svg");
    }
    <img src="@resolvedImage" alt="Project Image">

    <div class="card-title">
      <h3>@(Model?.ProjectName ?? "[No Project Name]")</h3>
      <span>@(Model?.Client?.ClientName ?? "[No Client]")</span>
    </div>
    <button class="btn" data-toggle="card-menu-@Model.Id">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
    </button>
  </div>

  <p>@(Model?.Description ?? "[No Description]")</p>

  <div class="project-card-footer flex">
    <div class="card-timer flex">
      <i class="fa-duotone fa-solid fa-clock"></i>
      <span>@(Model?.EndDate?.ToString("d") ?? "[No End Date]")</span>
    </div>
    <div class="flex">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
    </div>
  </div>

  @await Html.PartialAsync("Partials/Components/_ProjectCardMenu")
</div>